################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/config
/.vs/Terminal/v15
/.vs/YstTerminal/v15
/.vs
/ConsoleApp/obj/Debug
/ConsoleApp/obj/Release
/Term.DAL/bin/Debug
/Term.DAL/obj
/packages
/Term.Services/bin/Debug
/Term.Services/obj
/Term.Tests/obj
/Term.Utils/bin/Debug
/Term.Utils/obj
/Term.Web/bin
/Term.Web/obj
/Term.Web/Web.test3.config
/Term.Web/Web.Release.config
/Term.Web/Web.devterminal.config
/Term.Web/Web.dev1.config
/Term.Web/Web.Debug.config
/Term.Web/Web.config
/Term.Web/Term.Web.csproj.user
/Terminal.Utils/obj
