<a class="fancybox-btn" href="~/Content/img/lavr-2.jpg" data-title="Спецпердложение"><img class="accs_special_offer" src="~/Content/img/lavr.jpg" /></a>
<a class="fancybox-btn" href="/News/Details/8"><img class="accs_special_offer" src="~/Content/img/jidk.jpg" /></a>
<a class="fancybox-btn" href="/News/Details/6"><img class="accs_special_offer" src="~/Content/img/novinki.jpg" /></a>
<a class="fancybox-btn" href="/News/Details/7"><img class="accs_special_offer" src="~/Content/img/shetki.jpg" /></a>
