<a class="fancybox-btn" href="~/Content/img/liquid_2.jpg" data-title="Спецпердложение"><img class="accs_special_offer" src="~/Content/img/liquid_1.jpg" /></a>
<a class="fancybox-btn" href="~/Content/img/math_2.jpg" data-title="Автохимия GRASS"><img class="accs_special_offer" src="~/Content/img/math_1.jpg" /></a>
<a class="fancybox-btn" href="~/Content/img/trebl_2.jpg" data-title="Гибкие колпаки"><img class="accs_special_offer" src="~/Content/img/trebl.jpg" /></a>
