
<a class="fancybox-btn" href="~/Content/img/lavr_2.jpg" data-title="Гибкие колпаки"><img class="accs_special_offer" src="~/Content/img/lavr.jpg" /></a>
<a class="fancybox-btn" href="~/Home/Accs?ItemsPerPage=100&Article=краска&OnlySale=false" data-title="ABRO"><img class="accs_special_offer" src="~/Content/img/abro.jpg" /></a>
<a class="fancybox-btn" href="~/Content/img/grass2.jpg" data-title="Grass"><img class="accs_special_offer" src="~/Content/img/grass.jpg" /></a>
<a class="fancybox-btn" href="~/Home/Accs?ItemsPerPage=100&Article=тониров&OnlySale=false" data-title="ТОНИРОВОЧНАЯ ПЛЁНКА"><img class="accs_special_offer" src="~/Content/img/plenka.jpg" /></a>
<!--<a class="fancybox-btn" href="#"><img class="accs_special_offer" src="~/Content/img/azard_2.jpg" /></a>
    <a href="/News/Details/22"><img class="accs_special_offer" src="~/Content/img/ng4.jpg" /></a>-->
