<a href="#"><img class="accs_special_offer" src="~/Content/img/azard_2.jpg" /></a>
<a href="#"><img class="accs_special_offer" src="~/Content/img/aytoprofi_2.jpg" /></a>
<a href="#"><img class="accs_special_offer" src="~/Content/img/psv_2.jpg" /></a>
<a href="#"><img class="accs_special_offer" src="~/Content/img/goodyear_2.jpg" /></a>

<!--<a class="fancybox-btn" href="#"><img class="accs_special_offer" src="~/Content/img/azard_2.jpg" /></a>-->
