<a href="/News/Details/27"><img class="accs_special_offer" src="~/Content/img/ng1.jpg" /></a>
<a href="/News/Details/20"><img class="accs_special_offer" src="~/Content/img/ng2.jpg" /></a>
<a href="/News/Details/26"><img class="accs_special_offer" src="~/Content/img/ng3.jpg" /></a>
<a href="/News/Details/22"><img class="accs_special_offer" src="~/Content/img/ng4.jpg" /></a>



<!--<a class="fancybox-btn" href="#"><img class="accs_special_offer" src="~/Content/img/azard_2.jpg" /></a>-->
