<a class="fancybox-btn hidden-xs hidden-sm hidden-md" href="/Home/Akb?Producer=INCI+GS+YUASA+%28Турция%29" data-title="INCI"><img class="akb_special_offer" src="~/Content/img/inci.jpg" /></a>
<a class="hidden-xs hidden-sm hidden-md" href="/News/Details/25"><img class="accs_special_offer" src="~/Content/img/magnum_2.jpg" /></a>