
@{
    ViewBag.Title = "_ModalMessageForUser";
}

<div id="idModalToNotify" class="modal fade">
    <div class="modal-dialog-ntf" style="width: 600px; margin: auto; padding-top: 21%;">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <h4 class="modal-title"><span class="glyphicon glyphicon-ok-circle"> </span> Уважаемые клиенты! ВНИМАНИЕ!</h4>
            </div>
            <div class="modal-body">
                <span>Уведомляем ВАС о том, что с 15 мая 2018г. в системе работы ЯШТ произойдут следующие изменения в системе работы с клиентыми</span>
            </div>
            <div class="modal-footer">
                <a href="/Help/UrgentNews" id="Info-ntf" class="btn btn-default btn-primary" data-dismiss="modal">Ознакомиться с информацией</a>
            </div>
        </div>
    </div>
</div>

