
@using System.Web.UI.WebControls
@using YstProject.Models
@*model  PurchaseReturnDto*@

    <div class="panel panel-primary" id="rowToAdd">

        <div class="panel-heading">
            <span class="pull-right yst-panel-close" data-effect="fadeOut"><i class="fa fa-times"></i></span>
        </div>
        <div class="panel-body">
            
            <div class="col-lg-12">

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Номер документа</label>
                            <input type="hidden" name="Items.Index" value="ItemToReplace" />
                            @*Html.TextBoxFor(x => x.Items[0].SaleNumber, new {@class = "form-control returnItems-doc-number", autocomplete = "off"})*@
                            <input autocomplete="off" class="form-control returnItems-doc-number" oninput="doFillRecord(this);" data-val="true"  data-val-required="Заполните номер реализации" name="Items[0].SaleNumber" type="text" value="" placeholder="Введите номер УПД">
                            
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Дата документа</label> @*Html.TextBoxFor(x => x.Items[0].SaleDate, "{0:dd.MM.yyyy}", new { @class = "form-control returnItems-doc-date", autocomplete = "off" })*@
                            <input autocomplete="off" class="form-control returnItems-doc-date date" oninput="doFillRecord(this);" data-val="true" data-val-date="Введите дату вида 01.01.2017" data-val-required="Заполните дату реализации" name="Items[0].SaleDate" type="text" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Код товара</label>@*Html.TextBoxFor(x => x.Items[0].ProductId, new { @class = "form-control returnItems-product-autocomplete returnItems-product-id", autocomplete = "off" })*@
                            <input autocomplete="off" class="form-control returnItems-product-autocomplete returnItems-product-id ui-autocomplete-input" oninput="doFillRecord(this);" data-val="true" data-val-number="Код товара должен быть числом" data-val-required="Заполните код товара" name="Items[0].ProductId" type="text" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Наименование товара</label> @*Html.TextBoxFor(x => x.Items[0].ProductName, new {@class = "form-control", @autocomplete = "off"}) *@
                            <input autocomplete="off" class="form-control returnItems-product-name" name="Items[0].ProductName" type="text" value="" readonly="true" placeholder="Данное поле заполняется автоматически при вводе кода товара">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Количество</label>@*Html.TextBoxFor(x => x.Items[0].Count, new {@class = "form-control returnItems-count", autocomplete = "off"})*@
                            <input autocomplete="off" class="form-control returnItems-count" data-val="true" data-val-number="Количество должно быть числом." data-val-required="Заполните количество" name="Items[0].Count" type="text" value="">
                        </div>
                    </div>
                </div>

          
            </div>

        </div>
    </div>
