@model bool

@{     
      string prepay = Model ? "btn-primary":"btn-default" ;
    string postpay = Model ? "btn-default" : "btn-primary";
}

<span> Тип цен </span>
<span class="btn-group inmenu-toggle-group" data-toggle="buttons">
<label class="btn @prepay" data-prepay="1">
Предоплата
</label>
<label class="btn @postpay" data-prepay="0">
Отсрочка
</label>
</span> 

