
<section id="data-container">
    <div class="loader"></div>
    </section>

@section scripts
{
    <script>
        
        $('#data-container').load('/limitdata/detaileddata', function () {
        }); 

    </script>
}
