
@{
    ViewBag.Title = "Важные новости";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Уважаемые клиенты!</h2>
<h2 style="text-align: center;">ВНИМАНИЕ !!!</h2>

<p><b>1. Уведомляем ВАС о том, что с 15 мая 2018г. в системе работы ЯШТ произойдут следующие изменения в системе работы с клиентами:</b></p>

<p>a) по вопросам консультации по шинам, дискам, АКСам, подбору товара, отгрузкам, оплатам необходимо обращаться к Вашему менеджеру и помощнику менеджера.</p>
<p>б) по вопросам возвратов, пересорта, брака, логистики, документооборота теперь необходимо обращаться к оператору отдела обеспечения.</p>

<p>Всю информацию по новым сотрудникам Вы сможете посмотреть на следующей неделе в Терминале во вкладке "Ваши менеджеры".</p>
<p>14.05.2018 на электронную почту Вам будет отправлено письмо с уведомлением о новых специалистах.</p>

<h2 style="text-align: center;">ВНИМАНИЕ !!!</h2>
<h2 style="text-align: center;">Основной Менеджер с кем Вы ведёте работу остаётся прежним.</h2>

<p><b>2. Также напоминаем Вам, что при оформлении заказа в Корзине Терминал YST необходимо выбирать следующие параметры:</b></p>

<p><b>Заказ "в резерв" или "на отгрузку".</b></p>
<p>Если ставите заказ на отгрузку, необходимо выбрать:</p>
<p>a) желаемую дату отгрузки товара со склада ЯШТ.</p>
<p>б) способ доставки (силами ЯШТ или самовывоз)</p>
<p>в) адрес доставки товара (из списка)</p>

<p><b>Заказ, оформленный в резерв, со склада ЯШТ не уедет и автоматически закроется через 7 дней.</b></p>

<p>После выбора всех параметров нажимайте <b>«Оформить заказ».</b></p>

<p><b>Товар, поставленный на отгрузку, автоматически будет отгружен Вам согласно графика доставки и условий оплаты.</b></p>
