
@{
    ViewBag.Title = "UrgentNews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align: center;">Уважаемые клиенты!</h2>
<h2 style="text-align: center;">ВНИМАНИЕ !!!</h2>
<h2 style="text-align: center;">Изменения в программе !</h2>

<p>С 08.11.2017г. при оформлении заказа в Корзине Терминал YST необходимо <b>выбирать следующие параметры:</b></p>

<p><b>1. Заказ «в резерв» или «на отгрузку».</b></p>

<p>Если ставите заказ на отгрузку, необходимо выбрать:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a) желаемую дату отгрузки товара со склада ЯШТ.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;б) способ доставки (силами ЯШТ или самовывоз)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;в) адрес доставки товара (из списка)</p>

<p>Заказ, оформленный в резерв, со склада ЯШТ не уедет и автоматически закроется через 7 дней.</p>

<p><b>2. Способ оплаты.</b></p>
<p><b>При входе в Корзину «Способ доставки», «Способ оплаты», «Тип цен» заполняются автоматически по умолчанию, исходя из стандартных условий работы.</b></p>

<p><b>Если стандартные условия работы не соответствуют действительности, необходимо обратиться к Вашему менеджеру.</b></p>

<p>После выбора всех параметров нажимайте <b>«Оформить заказ».</b></p>

<p><b>Товар, поставленный на отгрузку, автоматически будет отгружен Вам согласно графика доставки и условий оплаты.</b></p>
