@using Term.Web.Views.Resources;
@{
    ViewBag.Title = Help.UploadWheelPhotos;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Help.UploadWheelPhotos</h2>


<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://photo.yst.ru/wheels.zip">@Help.AllPhotos</a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/alcasta.zip"><img src="~/Content/img/WheelsBrands/Alcasta.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/cross street.zip"><img src="~/Content/img/WheelsBrands/CrossStreet.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/legeartis.zip"><img src="~/Content/img/WheelsBrands/LA.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/top driver.zip"><img src="~/Content/img/WheelsBrands/LA_TD.png" /></a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://photo.yst.ru/wheels/nz.zip"><img src="~/Content/img/WheelsBrands/NZ.jpg" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/trebl.zip"><img src="~/Content/img/WheelsBrands/TREBL.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/x-race.zip"><img src="~/Content/img/WheelsBrands/X-Race.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/yokatta.zip"><img src="~/Content/img/WheelsBrands/Yokatta.png" /></a>
        </td>
        <td>
            <a href="http://photo.yst.ru/wheels/yst.zip"><img src="~/Content/img/WheelsBrands/YST.png" /></a>
        </td>
    </tr>
</table>
